body {background-color: #48D1CC}

input {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 4px 0px;
    color: rgb(115, 132, 145);
    border: 0px solid rgb(115, 132, 145);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 13px / 41px verdana;
    outline: rgb(115, 132, 145) none 0px;
    padding: 0px 42px 0px 16px;
    width: 320px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
}
input:focus {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 4px 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 2px 2px 2px 2px;
    margin: 16px 0;
    padding: 16px;
}

.content {
    box-sizing: border-box;
    font: normal normal normal normal 16px / normal verdana, arial, helvetica, sans-serif;
}
